<style>
.sp_Gmm8IHvxdpg_2x{
  background-image:url(/rsrc.php/v3/yG/r/D6e6b-q3xJ9.png);
  background-size:35px 1817px;
  background-repeat:no-repeat;display:inline-block;height:20px;width:20px
}
</style>
